:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #3F51B5;
  --primary-text: #fff;
  --secondary: #86bbd8;
  --secondary-text: #333;
  --accent: #05679c;
  --warning: #c35104;
  --warning-text: #fff;
  --clear: transparent;
  --clear-text: var(--primary);

  --direction: column;
}

* {
  box-sizing: border-box;
}

body {
  background: #e7e7e7;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input, select {
  height: 2.5rem;
  padding: .25rem .3rem;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid gray;
  border-radius: 8px;
}

input[type="checkbox"] {
  width: 1.25rem !important;
}

input:focus {
  outline-color: var(--primary);
}

select {
  height: 2.5rem;
}

button {
  cursor: pointer;
  font-size: inherit;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: var(--direction);
  gap: 8px;
}

.toast {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 640px;
  height: fit-content;
  padding: .75rem 1rem;
  background: #333;
  color: #f2f2f2;
  border-radius: 8px;
  animation-name: slide-up;
  animation-duration: .35s;
}

.toast-close-btn {
  color: #fff;
  background: transparent;
  border: none;
}

@keyframes slide-up {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}